body {
    font-family: Arial, sans-serif;
    font-size: 24px;
    text-align: center;
}

button {
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
}
.navbar {
    background-color: #f0f0f0;
    padding: 0px;
}
.navbar a {
    text-decoration: none;
    color: #333;
}
.navbar a:hover {
    text-decoration: underline;
}

p {
    margin: 20px;
}
input[type="text"] {
    padding: 10px;
    margin: 10px;
}
#title {
    color: blue;
    text-decoration: underline;
    cursor: pointer;    
}
  
#player {
    padding: 10px;
}

#options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

button {
    padding: 10px 20px;
    cursor: pointer;
}

.option {
    padding: 10px;
    margin: 0px 10px 10px;
    border: 1px solid #ccc;
    cursor: pointer;
}
